{{ form_row(form.title, { label: 'Titre' }) }}
{{ form_row(form.category, { label: 'Catégorie' }) }}

<div class="control-group">
    <label class="control-label">Date de publication</label>
    <div class="controls">
        {{ form_widget(form.publishedAt) }}
    </div>
    {{ form_errors(form.publishedAt) }}
</div>

{{ form_row(form.isLead, { label: 'A la Une ?' }) }}
{{ form_row(form.lead, { label: 'Accroche' }) }}
{{ form_row(form.body, { label: 'Corps de l\'actu' }) }}

{{ form_rest(form) }}
